.credlyCert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 0;
    min-height: 310px;
    border: 2px solid transparent;
}

.credlyCert:hover {
    border-color: var(--themeColour);
}

.credlyCert iframe {
    margin: 0 !important;
    border-radius: calc(
        var(--panelBorderRadius) / 2
    );
    pointer-events: auto;
}

@media (max-width: 767px) {
    .credlyCert {
        padding: 20px 10px;
        min-height: 290px;
    }
}
